* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {

    div {

        padding: 20px;

        form {
            display: flex;
            flex-direction: column;
            gap: 10px;

            textarea {
                width: 60%;
                height: 150px;
            }

            button {
                width: 50px;
                height: 25px;
            }
        }
    }
}